{% extends "base.html" %}

{%- if page.meta and page.meta.title %}
  {%- set title = page.meta.title ~ " | " ~ config.site_name | striptags %}
{%- elif page.title and not page.is_homepage %}
  {%- set title = page.title ~ " | " ~ config.site_name | striptags %}
{%- else %}
  {%- set title = config.site_name | striptags %}
{%- endif %}

{% block htmltitle %}
  <title>{{ title }}</title>
{% endblock %}

{% block extrahead %}
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:title" content="{{ title }}" />
  {%- if page.meta %}
  <meta property="og:type" content="article" />
  {%- if page.meta.description %}
  <meta property="og:description" content="{{ page.meta.description }}" />
  {%- endif %}
  {%- if page.authors %}
  {%- for author in page.authors %}
  <meta property="og:article:author" content="{{ author.name }}" />
  {%- endfor %}
  {%- endif %}
  {%- if page.meta.image %}
  <meta property="og:image" content="{{ image }}" />
  {%- endif %}
  {%- if page.meta.date %}
  <meta property="og:article:published_time" content="{{ page.meta.date }}" />
  {%- endif %}
  {%- for category in page.meta.categories %}
  <meta property="og:article:tag" content="{{ category }}" />
  {%- endfor %}
  {%- endif %}
{% endblock %}
