{% if not page.categories %}
<div class="admonition warning"> <p class="admonition-title">Warning</p>
  <p>Safer@DayZero is a research project at a very early stage of development.</p>
  <p>The contents of this site are made available publicly solely to
  facilitate collaboration with research partners. These resources:</p>
  <ul>
    <li>are published without warranty,</li>
    <li>are subject to change at any time, and</li>
    <li>have not been certified, tested, assessed, or otherwise assured of safety by any person or organization.</li>
  </ul>
  <p><strong>Use at your own risk.</strong></p>
</div>
{% endif %}
{% if "material/tags" in config.plugins and tags %}
  {% include "partials/tags.html" %}
{% endif %}
{% include "partials/actions.html" %}
{% if "\x3ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
