/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

/* :root {
  --md-hue: inherit;
} */

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #122c49;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #122c49;
  --md-accent-bg-color: #122c49;
  --md-typeset-a-color: #00689c;
  --md-code-bg-color: #cbd5e1;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #171717;
  --md-default-fg-color: #cbd5e1;
  --md-primary-fg-color: #122c49;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #ffffff;
  --md-accent-bg-color: #ffffff;
  --md-typeset-a-color: #00cafb;
  --md-code-bg-color: #2e3440;
}

.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: #ff9d55;
  margin-bottom: 2rem;
}

.highlight > pre {
  margin-bottom: 1.5rem;
}

.highlight > pre > code {
  padding: 0.75rem;
  border-radius: 0.3em;
}

.highlight > pre > button {
  top: 0.8em;
}

.md-typeset h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

[data-md-color-scheme="default"] h1,
[data-md-color-scheme="default"] h2,
[data-md-color-scheme="default"] h3 {
  color: #171717;
}

[data-md-color-scheme="slate"] h1,
[data-md-color-scheme="slate"] h2,
[data-md-color-scheme="slate"] h3 {
  color: #cbd5e1;
}

.md-nav__item {
  line-height: 1.7777778;
}

.md-footer {
  background-color: inherit;
}

.md-footer-meta {
  background-color: inherit;
}

.md-header__topic:first-child {
  font-weight: normal;
}

body {
  /*color: #cbd5e1; */
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol,
    noto color emoji;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__link,
[data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active {
  color: #cbd5e1;
}

.md-nav__item .md-nav__link--active {
  font-weight: bold;
}

.md-nav__item > a.md-nav__link > span:hover,
.md-nav__item > .md-nav__link > span > a:hover {
  text-decoration: underline;
}

.md-content--post > .md-content__inner {
  width: 100%;
}
